/* For Mobile Devices */

@media screen and (max-width: 576px) {
    .container {
        width: 95%;
        padding: 0 10px;
    }

    .header .navbar {
        flex-direction: column;
    }

    .header .navbar h3 {
        padding-bottom: 30px;
    }

    .banner-title {
        width: 100%;
    }

    .teams .container {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .teams-image-container {
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    .teams-cont {
        padding: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .facts-title-wrap {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }

    .facts-card-container {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 20px;
    }





}


/* For Tablet Devices */

@media screen and (min-width: 577px) and (max-width: 991px) {

    .container {
        width: 95%;
        padding: 0 15px;
    }
    .header .navbar {
        flex-direction: column;
    }

    .header .navbar h3 {
        padding-bottom: 50px;
    }

    .banner-title {
        width: 90%;
    }
    .banner-title h1 {
        font-size: 2rem;
    }

    .teams .container {
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .teams-image-container {
        padding-left: 0;
    }

    .teams-cont {
        padding: 0;
        padding-bottom: 50px;
        text-align: center;
    }

    .facts-title-wrap {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
    }

    .facts-card-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }
    
}